<div class="card p-1">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img [src]="user.avatar_url" class="card-img" alt="..." />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ user.login }}</h5>
        <button type="button" class="btn btn-warning btn-block" (click)="openTab()">
         Open in GitHub
        </button>
        <button type="button" class="btn btn-success btn-block text-white">
          <a [routerLink]="['/repositories', user.login]">See repositories</a>
        </button>
      </div>
    </div>
  </div>
</div>
